setuid {{ openbazaar_user }}
setgid {{ openbazaar_group }}

chdir {{ openbazaar_user_home_directory }}

respawn

start on runlevel [2345]
stop on runlevel [06]

exec ./openbazaar/venv/bin/python \
  ./openbazaar/openbazaard.py start \
  -p {{ openbazaar_dht_port }} \
  -r {{ openbazaar_rest_port }} \
  -w {{ openbazaar_websocket_port }} \
  -b {{ openbazaar_heartbeat_port }} \
  -a {{ openbazaar_allowed_ip }} \
  {{ openbazaar_additional_flags }}
